<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>362753583342-d7ok6ck71l52percvdl7bu78d6ejqumq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362753583342-d7ok6ck71l52percvdl7bu78d6ejqumq</string>
	<key>API_KEY</key>
	<string>AIzaSyCeeoBCM75s9_otvPhNUFNODHzbupqiEu8</string>
	<key>GCM_SENDER_ID</key>
	<string>362753583342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JL.Bistro</string>
	<key>PROJECT_ID</key>
	<string>bistro-4d94b</string>
	<key>STORAGE_BUCKET</key>
	<string>bistro-4d94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362753583342:ios:9fce3cf3650c6d28</string>
	<key>DATABASE_URL</key>
	<string>https://bistro-4d94b.firebaseio.com</string>
</dict>
</plist>